<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="https://www.Zerotheme.com">
	
    <title>Dancing | Free Bootstrap Chocolate Templates</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
	<link href="/static/css/style.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--Top-->
	<header class="sub-header">
		
		<!--Navigation-->
		<nav id="menu" class="navbar">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a class="navbar-brand-link" href="index2.html">
							<img src="/static/images/logo.png" />
						</a>
					</div>
					<center><button type="button" class="btn btn-navbar navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button></center>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="index2.html">
								Home
								<div class="menu-item__desc">Dancing theme</div>
							</a>
						</li>
						<li>
							<a href="single.html">
								About
								<div class="menu-item__desc">information about us</div>
							</a>
						</li>
						<li class="dropdown">
						<a href="archive.html" class="dropdown-toggle" data-toggle="dropdown">
							Blog
							<div class="menu-item__desc">categories</div>
						</a>
							<div class="dropdown-menu" style="margin-left: -203.625px;">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 301</a></li>
										<li><a href="archive.html">Text 302</a></li>
										<li><a href="archive.html">Text 303</a></li>
										<li><a href="archive.html">Text 304</a></li>
										<li><a href="archive.html">Text 305</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 306</a></li>
										<li><a href="archive.html">Text 307</a></li>
										<li><a href="archive.html">Text 308</a></li>
										<li><a href="archive.html">Text 309</a></li>
										<li><a href="archive.html">Text 310</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 311</a></li>
										<li><a href="archive.html">Text 312</a></li>
										<li><a href="archive.html#">Text 313</a></li>
										<li><a href="archive.html#">Text 314</a></li>
										<li><a href="archive.html">Text 315</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="contact.html">
								Contact
								<div class="menu-item__desc">get in touch</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<!---------------Breadcrumb------------------>
		<ul class="breadcrumb container">
			<li><a href="index2.html">Home</a></li>
			<li><a href="archive.html">Archive</a></li>
		</ul>
		
		<div class="box-content">
			<div class="container">
				<!-----------------Content-------------------->
				<article class="archive-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header">
							<div class="entry-thumb">
								<div class="portfolio-box zoom-effect">
									<img src="/static/images/showcase_bg.jpg" class="img-responsive" alt="">
								</div>
							</div>
						</div>
						<div class="entry-content clearfix">
							<h2 class="entry-title"><a href="single.html">Growing Mustaches & Beard to Age Gracefully</a></h2>
							<div class="entry-meta text-center">
								<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
								<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
							</div>
							<p>Figgis is a member of this unique, new wave of young underground artists bringing painting back to circulation this year. Quite honestly, we’re almost sure that this group’s art is the antidote to process-led abstraction.</p>
							<span class="tags-links">
								<a href="#" rel="tag">Bear</a>
								<a href="#" rel="tag">Mustache</a>
								<a href="#" rel="tag">Portfolio</a>
							</span>
							<a class="btn btn-skin pull-right" href="single.html">Read More</a>
						</div>
					</div>
				</article>
				<article class="archive-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header">
							<div class="entry-thumb">
								<div class="portfolio-box zoom-effect">
									<img src="/static/images/showcase_bg.jpg" class="img-responsive" alt="">
								</div>
							</div>
						</div>
						<div class="entry-content clearfix">
							<h2 class="entry-title"><a href="single.html">Growing Mustaches & Beard to Age Gracefully</a></h2>
							<div class="entry-meta text-center">
								<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
								<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
							</div>
							<p>Figgis is a member of this unique, new wave of young underground artists bringing painting back to circulation this year. Quite honestly, we’re almost sure that this group’s art is the antidote to process-led abstraction that took serious hold in 2021. At 42 years old, Figgis is not a …</p>
							<span class="tags-links">
								<a href="#" rel="tag">Bear</a>
								<a href="#" rel="tag">Mustache</a>
								<a href="#" rel="tag">Portfolio</a>
							</span>
							<a class="btn btn-skin pull-right" href="single.html">Read More</a>
						</div>
					</div>
				</article>
				<article class="archive-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header">
							<div class="entry-thumb">
								<div class="portfolio-box zoom-effect">
									<img src="/static/images/showcase_bg.jpg" class="img-responsive" alt="">
								</div>
							</div>
						</div>
						<div class="entry-content clearfix">
							<h2 class="entry-title"><a href="single.html">Growing Mustaches & Beard to Age Gracefully</a></h2>
							<div class="entry-meta text-center">
								<a class="post-date" href="#"><i class="fa fa-calendar"></i> <time datetime="2016-07-13T15:05:12+00:00" title="2016-07-13T15:05:12+00:00">July 13, 2016</time> </a> 
								<a class="post-comment" href="#"><i class="fa fa-comments"></i> 3 Comments</a>
							</div>
							<p>Figgis is a member of this unique, new wave of young underground artists bringing painting back to circulation this year. Quite honestly, we’re almost sure that this group’s art is the antidote to process-led abstraction that took serious hold in 2014. At 42 years old, Figgis is not a …</p>
							<span class="tags-links">
								<a href="#" rel="tag">Bear</a>
								<a href="#" rel="tag">Mustache</a>
								<a href="#" rel="tag">Portfolio</a>
							</span>
							<a class="btn btn-skin pull-right" href="single.html">Read More</a>
						</div>
					</div>
				</article>
			</div>
		</div>
		
	</div>
		
	<footer>
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<h4>Sign up and get first-hand</h4>
					<p>discounts & dancing tips!</p>
					<div class="subcribe-form">
						<form name="subcribe-email" action="subcribe.php" id="subcribe" class="input-group">
							<input type="text" name="subcribe" value="" placeholder="Your e-mail address" class="form-control" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-lg"><i class="fa fa-chevron-right"></i></button>
							</span>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap-footer">
			<div class="container">
				<div class="row"> 
					<div class="col-footer footer-1 col-md-3">
						<h2 class="footer-title">About Us</h2>
						<div class="footer-content">
							Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non. Pellentesque rutrum. Tincidunt porta lorem vitae . <br> <br> 
							<i class="fa fa-phone"> </i>9302647988 <br> 
							<i class="fa fa-envelope"> </i>Ganeshchoudhary5827076@gmail.com  <br>
							<i class="fa fa-home"> </i> www..com 
						</div>
					</div> 
					<div class="col-footer footer-2 col-md-3">
						<h2 class="footer-title">Recent Posts</h2>
						<div class="footer-content">
							<ul>
								<li><a href="#">MOST VISITED COUNTRIES</a></li>
								<li><a href="#">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
								<li><a href="#">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
								<li><a href="#">STARTUP COMPANY&#8217;S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
							</ul>
						</div>
					</div>
					<div class="col-footer footer-3 col-md-3">
						<h2 class="footer-title">OUR FLICKR</h2>
						<div class="footer-content">
							<div class="row">
								<div class="col-md-4 nopadding">
									<a href="#"><img src="/static/images/footer1.jpg" /></a>
									<a href="#"><img src="/static/images/footer4.jpg" /></a>
									<a href="#"><img src="/static/images/footer2.jpg" /></a>
								</div>
								<div class="col-md-4 nopadding">
									<a href="#"><img src="/static/images/footer2.jpg" /></a>
									<a href="#"><img src="/static/images/footer5.jpg" /></a>
									<a href="#"><img src="/static/images/footer3.jpg" /></a>
								</div>
								<div class="col-md-4 nopadding">
									<a href="#"><img src="/static/images/footer3.jpg" /></a>
									<a href="#"><img src="/static/images/footer6.jpg" /></a>
									<a href="#"><img src="/static/images/footer1.jpg" /></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-footer footer-4 col-md-3">
						<h2 class="footer-title">Tag Cloud</h2>
						<div class="footer-content">
							<a href="#">animals</a>
							<a href="#">cooking</a>
							<a href="#">countries</a>
							<a href="#">city</a>
							<a href="#">children</a>
							<a href="#">home</a>
							<a href="#">likes</a>
							<a href="#">photo</a>
							<a href="#">link</a>
							<a href="#">law</a>
							<a href="#">shopping</a>
							<a href="#">skate</a>
							<a href="#">scholl</a>
							<a href="#">video</a>
							<a href="#">travel</a>
							<a href="#">images</a>
							<a href="#">love</a>
							<a href="#">lists</a>
							<a href="#">makeup</a>
							<a href="#">media</a>
							<a href="#">password</a>
							<a href="#">pagination</a>
							<a href="#">wildlife</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="container">
				<div class="copyright text-center">
					<span>Copyright © 20xx - Designed by <a href="#" target="_blank">Ganesh choudhary</a></span>
				</div>
			</div>
		</div> 
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="js/bootstrap.min.js"></script>
	
</body>
</html>