<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by developed  ganesh dot com - Free Responsive Html5 Templates">
    <meta name="author" content="#">
	
    <title>Dancing | Free Bootstrap Chocolate Templates</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
	<link href="/static/css/style.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--Top-->
	<header class="sub-header">
		
		<!--Navigation-->
		<nav id="menu" class="navbar">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a class="navbar-brand-link" href="index2.html">
							<img src="/static/images/logo.png" />
						</a>
					</div>
					<center><button type="button" class="btn btn-navbar navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button></center>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="index2.html">
								Home
								<div class="menu-item__desc">Dancing theme</div>
							</a>
						</li>
						<li>
							<a href="single.html">
								About
								<div class="menu-item__desc">information about us</div>
							</a>
						</li>
						<li class="dropdown">
						<a href="archive.html" class="dropdown-toggle" data-toggle="dropdown">
							Blog
							<div class="menu-item__desc">categories</div>
						</a>
							<div class="dropdown-menu" style="margin-left: -203.625px;">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 301</a></li>
										<li><a href="archive.html">Text 302</a></li>
										<li><a href="archive.html">Text 303</a></li>
										<li><a href="archive.html">Text 304</a></li>
										<li><a href="archive.html">Text 305</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 306</a></li>
										<li><a href="archive.html">Text 307</a></li>
										<li><a href="archive.html">Text 308</a></li>
										<li><a href="archive.html">Text 309</a></li>
										<li><a href="archive.html">Text 310</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 311</a></li>
										<li><a href="archive.html">Text 312</a></li>
										<li><a href="archive.html#">Text 313</a></li>
										<li><a href="archive.html#">Text 314</a></li>
										<li><a href="archive.html">Text 315</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="contact.html">
								Contact
								<div class="menu-item__desc">get in touch</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<!---------------Breadcrumb------------------>
		<ul class="breadcrumb container">
			<li><a href="index2.html">Home</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		
		<!-----------------Content-------------------->
		<section class="box-content">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
						<h2>CONTACT US</h2>
						<div class="intro">Lorem ipsum dolor sit amet</div>
					</div>
				</div>
				<div class="row">
					<!--Start Map-->
					<div id="map" style="height: 450px;"></div>
					<!--End Map-->
					<div class="col-md-4 box-item">
						<h3>Contact Info</h3>
						<span>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM.</span><br> <br>
						<p>Rajendra nagar Indore no.23. block.Q3<br>
							Indore-India</p>
						   <p>+91-9302647988<br>
							+91-7828394090</p>
						<p>Ganeshchoudary123@gmail.com</p>
					</div>
					<div class="col-md-8">
						<h3>Contact Form</h3>
						<form name="form1" method="post" action="contact.php">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
									<input type="text" class="form-control input-lg" name="name" id="name" placeholder="Enter name" required="required" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Enter email" required="required" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required" placeholder="Message" style="height: 170px;"></textarea>
									</div>						
									<button type="submit" class="btn btn-skin btn-block" name="submitcontact" id="submitcontact">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--footer-->

	{% include "footer.html" %}

	<!-- Footer -->
	
	<!-- JS -->
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Google Map -->
	<script>
	  var marker;
	  var image = '/static/images/map-marker.png';
      function initMap() {
        var myLatLng = {lat: 39.79, lng: -86.14};

		// Specify features and elements to define styles.
        var styleArray = [
          {
            featureType: "all",
            stylers: [
             { saturation: -80 }
            ]
          },{
            featureType: "road.arterial",
            elementType: "geometry",
            stylers: [
              { hue: "#000000" },
              { saturation: 50 }
            ]
          },{
            featureType: "poi.business",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
		
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
		   // Apply the map style array to the map.
          styles: styleArray,
          zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

		// Create a marker and set its position.
        marker = new google.maps.Marker({
          map: map,
		  icon: image,
		  draggable: true,
          animation: google.maps.Animation.DROP,
          position: myLatLng
        });
		marker.addListener('click', toggleBounce);
      }
	  
	  function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap" async defer></script>
	
</body>
</html>