{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="#">
	
    <title>Dancing | Free Bootstrap Chocolate Templates</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
	<link href="{%static 'css/style.css' %}" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--Top-->
	<header class="main-header">
		
		<!--Navigation-->
		<nav id="menu" class="navbar">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a class="navbar-brand-link" href="index2.html">
							<img src="{% static 'images/logo.png' %}" />
						</a>
					</div>
					<center><button type="button" class="btn btn-navbar navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button></center>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="index2.html">
								Home
								<div class="menu-item__desc">Dancing theme</div>
							</a>
						</li>
						<li>
							<a href="single.html">
								About Us
								<div class="menu-item__desc">information about us</div>
							</a>
						</li>
						<li class="dropdown">
						<a href="archive.html" class="dropdown-toggle" data-toggle="dropdown">
							Blog
							<div class="menu-item__desc">categories</div>
						</a>
							<div class="dropdown-menu" style="margin-left: -203.625px;">
								<div class="dropdown-inner">
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 301</a></li>
										<li><a href="archive.html">Text 302</a></li>
										<li><a href="archive.html">Text 303</a></li>
										<li><a href="archive.html">Text 304</a></li>
										<li><a href="archive.html">Text 305</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 306</a></li>
										<li><a href="archive.html">Text 307</a></li>
										<li><a href="archive.html">Text 308</a></li>
										<li><a href="archive.html">Text 309</a></li>
										<li><a href="archive.html">Text 310</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="archive.html">Text 311</a></li>
										<li><a href="archive.html">Text 312</a></li>
										<li><a href="archive.html#">Text 313</a></li>
										<li><a href="archive.html#">Text 314</a></li>
										<li><a href="archive.html">Text 315</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="contact.html">
								Contact
								<div class="menu-item__desc">get in touch</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- Static Header -->
		
		<div class="header-text">
			<div class="col-md-12 text-center">
				<span>So Yummy it will Melt Your Heart</span>
				<h1>CHOCOLATE CAKES AND CANDIES</h1>
				<p>A place where food and coziness compliment each other.<br>Call (999)123-4567</p>
				<a href="#" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
			</div>
		</div><!-- /header-text -->
		
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1" id="nav-work">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>01</h1></div>
							<h3>Ballroom <em>Classes</em></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do tempor incididunt ut </p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>02</h1></div>
							<h3>Hip-Hop & <em>Contemp</em></h3>
							<p>Lorem ipsum dolor sit amet adipisicing elit, do eiusmod tempor incididunt ut elit</p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>03</h1></div>
							<h3>Private <em>lessons</em></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor et </p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>04</h1></div>
							<h3>wedding <em>package</em></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod et </p>
						</div>
					</div><!-- end inner row -->
				</div>
			</div>
		</section>
