
{% include "header.html"%}
{% load static %}

		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2" id="nav-about">
			<div class="container-fluid">
				<div class="row heading">
					<div class="col-lg-12">	
						<h2>We offer a multitude</h2>
						<div class="intro">OF DANCING CLASSES</div>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding">
						<article class="home-post position-top">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box zoom-effect" href="single.html">
										<img src="{%static 'images/1.jpg' %}" class="img-responsive" alt="">
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Isabelle Bellagio</a>
									<small>Owner/Head Instructor</small>
								</h6>
								<p>Isabelle’s life has taken a lot of amazing u-turns over the last 40 years. At the age of 15, immediately after moving from Cuba to the India in 1976, Isabelle has begun to seek what her professional career may be…</p>
								<ul class="team-social list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</article>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding">
						<article class="home-post position-bottom">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box zoom-effect" href="single.html">
										<img src="{%static 'images/2.jpg' %}" class="img-responsive" alt="">
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Isabelle Bellagio</a>
									<small>Owner/Head Instructor</small>
								</h6>
								<p>Isabelle’s life has taken a lot of amazing u-turns over the last 40 years. At the age of 15, immediately after moving from Cuba to the US in 1976, Isabelle has begun to seek what her professional career may be…</p>
								<ul class="team-social list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</article>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding">
						<article class="home-post position-top">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box zoom-effect" href="single.html">
										<img src="{%static 'images/3.jpg' %}" class="img-responsive" alt="">
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Isabelle Bellagio</a>
									<small>Owner/Head Instructor</small>
								</h6>
								<p>Isabelle’s life has taken a lot of amazing u-turns over the last 40 years. At the age of 15, immediately after moving from Cuba to the US in 1976, Isabelle has begun to seek what her professional career may be…</p>
								<ul class="team-social list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 05 -->
		<section class="box-content box-5 box-style-3">
			<div class="container">
				<div class="row">
					<div class="box-item">
						<span>Etiam rutrum ex vel sagittis lacinia !</span>
						<blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 07 -->
		<section class="box-content box-7 box-style-2">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="box-item">
							<div class="box-item-header">
								<p>So Yummy it will Melt Your Heart !</p>
								<h3>Summertime <b>Discounts</b></h3>
								<div class="deal"><span>25%</span> OFF</div>
							</div>
							<div class="box-item-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
								<div class="signature">
									<span>--- ChokoCake ---</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4" style="background: #F8F9F0">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
						<h2>What people are saying </h2>
						<div class="intro">about our restaurant</div>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="{%static 'images/partner1.png' %}" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="{%static 'images/partner2.png' %}" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="{%static 'images/partner3.png' %}" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="{static 'images/partner1.png'%}" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="{%static 'images/partner3.png' %}" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="{%static 'images/partner2.png' %}" class="img-responsive icon"/>
							<h3>GREAT & FAST SERVICES</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et adipisicing elit</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- ////////////Content Box 06 -->
		<section class="box-content box-6">
			<div class="container-fluid">
				<div class="row">
					<div id="map" style="height: 500px;"></div>
				</div>
			</div>
		</section>
		
	</div>
	<!-- footer-->
{% include "footer.html" %}
	<!-- Footer -->
	
	<!-- JS -->
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Google Map -->
	<script>
	  var marker;
	  var image = "{%static 'images/map-marker.png' %}";
      function initMap() {
        var myLatLng = {lat: 39.79, lng: -86.14};

		// Specify features and elements to define styles.
        var styleArray = [
          {
            featureType: "all",
            stylers: [
             { saturation: -80 }
            ]
          },{
            featureType: "road.arterial",
            elementType: "geometry",
            stylers: [
              { hue: "#000000" },
              { saturation: 50 }
            ]
          },{
            featureType: "poi.business",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
		
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
		   // Apply the map style array to the map.
          styles: styleArray,
          zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

		// Create a marker and set its position.
        marker = new google.maps.Marker({
          map: map,
		  icon: image,
		  draggable: true,
          animation: google.maps.Animation.DROP,
          position: myLatLng
        });
		marker.addListener('click', toggleBounce);
      }
	  
	  function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMa" async defer></script>
	
</body>
</html><!---"https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap"-->